# Core language/runtime helpers
python-dotenv==1.0.1

# Database
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9

# Migrations
alembic==1.13.1

# Optional for pgvector storage
pgvector==0.2.4

# PDF and Slide processing
pymupdf==1.24.1
pillow==10.3.0

# Utilities
tqdm==4.66.2
requests==2.31.0
llama-index-core==0.13.0
cloudscraper==1.2.71
chainlit
streamlit
