# Core language/runtime helpers
python-dotenv==1.0.1

# Database
SQLAlchemy==2.0.29
psycopg2-binary==2.9.9

# Migrations
alembic==1.13.1

# Embedding & LLM integration with Ollama
ollama==0.4.8

# Optional for pgvector storage (kalau nanti dipakai)
pgvector==0.2.4

# PDF and Slide processing (minimal)
PyMuPDF==1.24.1   # alias "fitz", penting untuk extract slide/page
pillow==10.3.0

# Utilities
tqdm==4.66.2
requests==2.31.0
llama-index-core==0.13.0
llama-index-embeddings-ollama==0.8.6

cloudscraper==1.2.71
streamlit
